---
import BaseHead from "../../components/BaseHead.astro";
import DonElement from "../../components/don";
import Footer from "../../components/Footer.astro";
import Header from "../../components/header";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

import { RiArrowRightLine } from "../../components/icons";
import Section from "../../components/section";
import Paralaxe from "../../components/Paralaxe.astro";
import ProgrammePages from "../../components/programme/page";

const data: {
  src: string;
}[] = [
  { src: "/afd.png" },
  { src: "/tcse.png" },
  { src: "/samim.png" },
  { src: "/jyif.png" },
  { src: "/ecodev.png" },
  { src: "/pulse.png" },
  { src: "/lab.png" },
  { src: "/bidaya.png" },
];
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead
      title={`Mon Quartier Propre | ${SITE_TITLE}`}
      description={`Promouvoir des caractéristiques civilisationnelles durables et complètes
            à nos quartiers, les résidents bénéficieront d’un environnement sain
            et participeront énergétiquement et activement à la vie communautaire.`}
      image='/mon-quartier-propre.webp'
    />
    <style>
      .section-1 {
        @apply flex gap-9 flex-col lg:flex-row items-start;
      }

      .section_b {
        @apply flex-1 flex-grow px-4 lg:px-9 py-4 lg:py-7 h-auto bg-[#F1FEFB];
      }

      .banniere-mon-quartier {
        background-image: linear-gradient(170deg, #199d57, #1a917b);
        @apply relative h-[100vh] w-full flex items-center justify-center overflow-hidden;

        .content {
          @apply w-full lg:w-[600px] flex flex-col items-center mx-auto;
        }
        .element_1 {
          @apply w-[70%] relative mb-8;
        }

        .element_2 {
          @apply w-[50%] relative;
        }

        .title {
          @apply text-center font-inder text-3xl lg:text-5xl font-bold text-white;
        }

        .right {
          @apply absolute bottom-[-30px] lg:top-[100px] lg:right-[0px] w-[350px] lg:w-[400px];
        }

        .left {
          @apply w-[300px] lg:w-auto absolute top-[-100px] lg:top-[-200px] left-[-150px] lg:left-[-250px];
        }
      }
      .section_2 {
        @apply mt-[3rem] lg:mt-[8rem] flex flex-col lg:flex-row lg:items-start gap-9;
      }
      .section {
        background-image: linear-gradient(
          170deg,
          #199d57,
          rgba(26, 145, 123, 1)
        );
        @apply py-[92px] mt-[62px];
      }
      .section_3 {
        @apply flex flex-col-reverse lg:flex-row-reverse lg:items-end gap-9 max-w-[1280px] w-full mx-auto px-6 lg:px-0;
      }

      .grid-partenaire {
        @apply grid grid-cols-2 lg:grid-cols-5 gap-3 lg:gap-6;
      }

      .partenaire_parent {
        @apply flex items-center aspect-square justify-center bg-slate-100 rounded-xl;
      }
      .partenaire {
        @apply w-[70%] aspect-square flex items-center justify-center;
      }
    </style>
  </head>
  <body>
    <ProgrammePages client:load  />

    <DonElement />
    <Footer />
  </body>
</html>
