---

---

<style>
    .section {
        background-image: linear-gradient(
          170deg,
          #199d57,
          rgba(26, 145, 123, 1)
        );
      }
</style>

<section class="section py-[42px] lg:py-24 px-6 lg:px-0">
    <div class="max-w-[1280px] mx-auto">
        <div class="flex flex-col lg:flex-row lg:justify-between items-center">
          <div class = "w-full lg:w-[60%] font-judson font-bold text-4xl lg:text-6xl text-white">Contactez-nous,<br/> Laissez nous votre message! </div>
          <a href="/contact#contact" class="bg-yellow-400 text-orange-900 flex py-3 w-full md:w-[200px] font-bold text-xl items-center justify-center rounded-full">Contact</a>
        </div>
    </div>
</section>