---
const today = new Date();
---

<footer>
  <div class='w-fit flex mx-auto gap-20 flex-col lg:flex-row'>
    <section class='flex-[2] pr-10'>
      <div class='w-[76px] h-[76px]'>
        <img src='/Logo-AAUPE.jpg' alt='' class='w-full' />
      </div>
      <div class='text-left text-2xl'>
        Association d’Appui à <br />l’Unité de Protection<br /> de l’Enfance à Casablanca
      </div>
    </section>
    <section>
      <div class='font-semibold text-xl uppercase text-left'>
        A Propos de nous
      </div>
      <div>
        <ul class='text-left'>
          <li><a href='' class='text-gray-800'>Qui nous sommes</a></li>
          <li><a href='' class='text-gray-800'>Notre Mission</a></li>
          <li><a href='' class='text-gray-800'>Notre Engagement</a></li>
          <li><a href='' class='text-gray-800'>Notre Équipe</a></li>
          <li><a href='' class='text-gray-800'>Nos Programmes</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class='font-semibold text-xl uppercase text-left'>
        Nous Contacter
      </div>
      <div>
        <ul class='text-left'>
          <li><a href='' class='text-gray-800'>info@aaupe.org.ma</a></li>
          <li><a href='' class='text-gray-800'>Notre Mission</a></li>
          <li><a href='' class='text-gray-800'>Notre Engagement</a></li>
          <li><a href='' class='text-gray-800'>Notre Équipe</a></li>
          <li><a href='' class='text-gray-800'>Nos Programmes</a></li>
        </ul>
      </div>
    </section>
    <section></section>
  </div>
  &copy; {today.getFullYear()} AAUPE. Tous droits Reservés.
</footer>
<style>
  footer {
    padding: 4em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
