---
import { RiArrowRightLine } from "./icons";

interface Props {
  image: string;
}

const { image } = Astro.props as Props;
---

<style>
  .parallax-container {
    height: 90vh;
    overflow: hidden;
    position: relative;
    background-color: black;
  }
  .parallax-bg {
    background-size: cover;
    background-position: center;
    height: 150%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
  }
  .content {
    position: relative;
    height: 90vh;
    padding: 2rem;
    background-image: linear-gradient(
      in oklab to top,
      #0e0e0e 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .line_height {
    line-height: 1.1;
  }

  @media (min-width: 1024px) {
    .line_height {
      line-height: 1.5;
    }
  }
</style>
<div class='parallax-container'>
  <div class='parallax-bg' style=`background-image: url(${image});`></div>
  <div class='content'>
    <slot />
    <!-- Add more paragraphs here to create scrollable content -->
  </div>
</div>

<script
  is:inline
  src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js'></script>
<script
  is:inline
  src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js'
></script>

<script>
  //@ts-ignore
  gsap.registerPlugin(ScrollTrigger);

  //@ts-ignore
  gsap.to(".parallax-bg", {
    yPercent: 40,
    ease: "none",
    scrollTrigger: {
      trigger: ".parallax-container",
      start: "top bottom",
      end: "bottom top ",
      scrub: true,
    },
  });
</script>
